
@viewport {
    width: 200px;
    zoom: 1.0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
    /* background: linear-gradient(#141e30, #243b55) fixed; */
    background-color: black;
    background-image: url("/static/images/openflix_background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;

}

h2 {
    text-align: center;
    text-transform: capitalize;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}


@supports not (backdrop-filter: blur(50px))  {
    .container {
        background-color: rgba(0, 0, 0, .9);
    }
}

.password_missmatch:focus {
    border: solid 2px red !important;
    background-color: rgba(255, 0, 0, .1) !important;
}

.password_match:focus {
    border: solid 2px rgb(0, 255, 0) !important;
    background-color: rgba(0, 255, 0, .1) !important;
}

.container {
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 0.5s;
    transition-delay: .2s;
    transform: translate(-50%, calc(-50% - 4vh));
    top: 50%;
    left: 50%;
    position: absolute;
    width: 80vw;
    padding: 4vw;
    box-shadow: 0 5vw 10vw black;
    border-radius: 5vw;
    color: white;
    backdrop-filter: blur(50px) brightness(50%) saturate(200%);
}

form input {
    padding: 2vw;
    margin-top: 4vw;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
}

input[name="submit"]:hover {

    /* background-color: rgb(52, 125, 235); */
    background-color: rgb(52, 125, 235);
    box-shadow: 0 0 8vw rgba(0, 102, 255, .5),
                0 0 4vw rgba(0, 102, 255, .5),
                0 0 2vw rgba(0, 102, 255, .5);
}

input[name="submit"] {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(0, 87, 218);
    border: none;
    outline: none;
    transition: background-color .25s, box-shadow .25s;
}

.info {
    width: 100%;
    margin: auto;
    margin-top: 4vw;
    text-align: center;
}

input[type="text"], input[type="password"]{

    border: solid 2px transparent;
    outline: none;
    background-color: rgba(255,255,255,0.2);
    transition-property: border, background-color;
    transition-duration: .25s;
    color: white;
}

input[type="text"]:focus, input[type="password"]:focus{

    border: solid 2px rgba(255,255,255,.5);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.warning {
    /* opacity: 50%; */
    text-align: center;
    color: yellow;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.error {
    color: red !important;
}

.success {
    color: rgb(0, 255, 0) !important;
}

html, input {
    font-size: 5vw;
}


@media only screen and (min-device-width: 1200px) and (orientation: landscape) {
    

    html, input{
        font-size: 1rem;
    }

    .container {
        border-radius: 10px;
        width: 300px;
        padding: 20px;
        box-shadow: 0 15px 25px black;
    }

    form input {
        padding: 7px;
        margin-top: 20px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    input[name="submit"]:hover {

        box-shadow: 0 0 40px rgba(0, 102, 255, .5),
                    0 0 20px rgba(0, 102, 255, .5),
                    0 0 10px rgba(0, 102, 255, .5);
    }

    .info {
        margin-top: 20px;
    }
}

