<!DOCTYPE html>
<html>
    <script type="text/javascript" src="/js/jquery-3.5.1.js"></script>
    {% if debug %}
        <script type="text/javascript" src="/js/socket.io.min.js"></script>
        <script type="text/javascript" src="/js/live_reload.js"></script>
    {% endif %}
    <script type="text/javascript" src="/js/notification.js"></script>
    <script>
        $(document).ready( function() {
            init_notification( function() {
                fetch_vapid( function() {
                    subscribe_user()
                })
            })
        })
    </script>
    <head>
        <!-- <link rel="stylesheet" href="/static/stylesheets/signup.css"/> -->
    </head>
    <body>
        <button>test</button>
    </body>
</html>