<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style type="text/css" media="screen">
            .container {
                width: 30em;
                border-radius: 5px;
                background-color: white;
                margin-left: auto;
                margin-right: auto;
                padding: 20px;
                font-family: sans-serif;
            }
            h3{
                text-align: center;
            }
            .buttons {
                margin-left: auto;
                margin-right: auto;
                display: table;
                padding: 10px;
                text-transform: uppercase;
                font-weight: bold;
            }
            a.button {
                -webkit-appearance: button;
                -moz-appearance: button;
                appearance: button;
            
                text-decoration: none;
                border-radius: 5px;
                padding: .7em;
                padding-left: 1em;
                padding-right: 1em;
                margin: .5em;
                color: white;
            }
            a#grant {
                background-color: green;
            }
            a#deny {
                background-color: red;
            }
            .email {
                color: blue;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h3><span class="email">{{firstname}} {{lastname}} ({{email}})</span>
                has requested access to peerflix.</h3>
            <div class="buttons">
                <a href="{{grant_url}}" class="button" id="grant">grant</a>
                <a href="{{deny_url}}" class="button" id="deny">deny</a>
            </div>
        </div>
    </body>
</html>