<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style type="text/css" media="screen">
            .container {
                width: 30em;
                border-radius: 5px;
                background-color: white;
                margin-left: auto;
                margin-right: auto;
                padding: 20px;
            }
            h3{
                text-align: center;
            }
            .passcode{
                background-color: rgba(123, 207, 255, 0.308);
                font-size: 2em;
                font-weight: bolder;
                text-align: center;
                padding: 0.5em;
                vertical-align: bottom;
                margin-top: 20px;
                margin-bottom: 20px;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h3>Welcome to peerlix !</h3>
            <p class="desc">
                Your access to the openflix provider has been granted,<br/>
                This code can only be used once and will expire in {{ timeout }}.<br/>
                Simply paste it in the password field of the client app.<br/>
            </p>
            <div class="passcode">
                {{ passcode }}
            </div>
        </div>
    </body>
</html>