<!DOCTYPE html>
<html>
    {% if debug %}
        <script type="text/javascript" src="/js/socket.io.min.js"></script>
        <script type="text/javascript" src="/js/live_reload.js"></script>
    {% endif %}
    <head>
        <link rel="stylesheet" href="/static/stylesheets/request.css"/>
    </head>
    <body>
        <div class="container">

        </div>
    </body>
</html>