<!DOCTYPE html>
<html>
    <script type="text/javascript" src="/js/jquery-3.5.1.js"></script>
    {% if debug %}
        <script type="text/javascript" src="/js/socket.io.min.js"></script>
        <script type="text/javascript" src="/js/live_reload.js"></script>
    {% endif %}
    <script type="text/javascript" src="/js/notification.js"></script>
    <script>
        function signup() {
            if (!verify_password()) {
                error("{{ _('passwords mismatch') }}")
                return
            }

            let data = {firstname: $("input[name='firstname'").val(),
                        lastname: $("input[name='lastname'").val(),
                        password: $("input[name='password'").val(),
                        email: $("input[name='email'").val()}

            $.post("/signup", data)
                .done(function(resp) {
                    success(resp)
                    init_notification( function() {
                        fetch_vapid( function() {
                            subscribe_user()
                        })
                    })
                }).fail(function(resp) {
                    error(resp.responseText)
                })
        }
        function error(message) {
            let info = $(".info")
            info.removeClass("success")
            info.addClass("error")
            info.text(message)
        }
        function success(message) {
            let info = $(".info")
            info.removeClass("error")
            info.addClass("success")
            info.text(message)
        }
        function verify_password() {
            let input = $("input[name='password'")
            let input_conf = $("input[name='confirm_pwd'")
            
            if (!input_conf.val()) {
                input_conf.removeClass("password_missmatch")
                input_conf.removeClass("password_match")
                return false
            } else if (input.val() == input_conf.val()){
                input_conf.removeClass("password_missmatch")
                input_conf.addClass("password_match")
                return true
            } else {
                input_conf.removeClass("password_match")
                input_conf.addClass("password_missmatch")
                return false
            }
        }
        $(document).ready( function() {
            let obj = $(".container")
            obj.css("opacity", 1)
            obj.css("transform","translate(-50%, -50%)")
        })
    </script>
    <head>
        <link rel="stylesheet" href="/static/stylesheets/signup.css"/>
    </head>
    <body>
        <div class="container">
            <h2>{{ _("sign up") }}</h2>
            {% if require_activation %}
                <p class="warning">
{{ _("Your account must be verified by admins before being activated. Allow notifications to get notified when your request gets treated.") }}
                </p>
            {% endif %}
            <form id="request_access" method="post" action="request">
                <input type="text" name="firstname" placeholder="{{ _('first name') }}"/>
                <input type="text" name="lastname" placeholder="{{ _('last name') }}"/>
                <input type="text" name="email" placeholder="{{ _('email address') }}"/>
                <input type="password" name="password" placeholder="{{ _('password') }}"/>
                <input type="password" name="confirm_pwd" placeholder="{{ _('confirm password') }}" onkeyup="verify_password()"/>
                <p class="info"></p>
                <input type="button" name="submit" value="{{ _('ok') }}" onclick="signup()"/>
            </form>
        </div>
    </body>
</html>